<h3>Administración de productos</h3>
<div> <!--El nombre del iput debe coincidir con con los nombres del campo del modelo de mongoose si no me rechaza si no da error-->
<form action="/api/products" method="post"id="form">
    <label>Title:</label><input type="text" name="name" id="title"><br>
    <label>Description:</label><input type="text" name="description" id="description"><br>
    <label>Code:</label><input type="number" name="code" id="code"><br>
    <label>Price:</label><input type="number" name="price" id="price"><br>
    <label>Status:</label><input type="text" name="status" id="status"><br>
    <label>Stock:</label><input type="number" name="stock" id="stock"><br>
    <label>Category:</label><input type="text" name="category" id="category"><br>
    <input type="submit" value="SEND">
</form>
</div> 

<br>

<div>
  <h3>Lista de productos</h3>
  <p id="prod1"></p>
    <form id="display">
       <button id="display">Desplegar lista de Productos</button>
    </form>
</div>

<br>

<div>
<form  id="formDelete">
    <label>Ingrese el Id del producto que desea borrar:</label><input type="text" name="idDelete" id="idDelete">
    <button id="delete">Delete</button>
</form>
</div>


<br>
<form action="/api/users/logout" method="post">
    <button type="submit"> LOGOUT </button>
</form>




<script src="/socket.io/socket.io.js"></script>
<script src="/public/indexproducts.js"></script>


<script src="https://cdn.jsdelivr.net/npm/toastify-js"></script>
<script>
    document.addEventListener('DOMContentLoaded', (event) => {
        const params = new URLSearchParams(window.location.search);
        const message = params.get('message');

        if (message) {
            Toastify({
                text: message,
                duration: 15000,
                close: true,
                gravity: "top",
                position: "center",
                style: { background: "linear-gradient(to right, #00b09b, #96c93d)" },
            }).showToast();
        }
    });
</script>