<h1>Perfil del Usuario Administrador</h1>
<p>Nombre: {{user.first_name}}</p>
<p>Apellido: {{user.last_name}}</p>
<p>Email: {{user.email}}</p>
<p>Rol: {{user.role}}</p>

<br>
<form action="/api/views/cart" method="get">
    <button type="submit"> Volver </button>
</form>